#gameboard {
  flex-flow: row wrap;
  background-color: #ff0080;
  cursor: pointer;
  max-width: 80%;
  align-content: center;
  

}

.headline {
font-family: 'Audiowide', cursive;
text-align: center;
color: #ff0080;
font-size: 60px;
}

