#gameboard {
  flex-flow: row wrap;
  background-color: hotpink;
  cursor: pointer;
  max-width: 80%;
  align-content: center;
  

}

.headline {
font-family: 'Audiowide', cursive;
text-align: center;
color: #ff0080;
font-size: 60px;
}
html {
  background-color: blueviolet;
  background-repeat: no-repeat;
  background-position: right top;
  z-index: 1;
}

